[submodule "extension/updates/auto-close-tag"]
	path = extension/updates/auto-close-tag
	url = git@github.com:formulahendry/vscode-auto-close-tag.git
[submodule "extension/updates/auto-complete-tag"]
	path = extension/updates/auto-complete-tag
	url = git@github.com:formulahendry/vscode-auto-complete-tag.git
[submodule "extension/updates/auto-rename-tag"]
	path = extension/updates/auto-rename-tag
	url = git@github.com:formulahendry/vscode-auto-rename-tag.git
[submodule "extension/updates/color-highlight"]
	path = extension/updates/color-highlight
	url = git@github.com:enyancc/vscode-ext-color-highlight.git
[submodule "extension/updates/color-highlight-fork"]
	path = extension/updates/color-highlight-fork
	url = git@github.com:mikekscholz/vscode-ext-color-highlight.git
[submodule "extension/updates/errorlens"]
	path = extension/updates/errorlens
	url = git@github.com:usernamehw/vscode-error-lens.git
[submodule "extension/updates/errorlens-alt"]
	path = extension/updates/errorlens-alt
	url = git@github.com:phindle/error-lens.git
[submodule "extension/updates/filesize"]
	path = extension/updates/filesize
	url = git@github.com:wdskuki/vscode-extension-filesize.git
[submodule "extension/updates/indent-rainbow"]
	path = extension/updates/indent-rainbow
	url = git@github.com:oderwat/vscode-indent-rainbow.git
[submodule "extension/updates/sakai-icons"]
	path = extension/updates/sakai-icons
	url = git@github.com:Sakai-UI/Sakai-Icons.git
[submodule "extension/updates/toggle-brackets-guides"]
	path = extension/updates/toggle-brackets-guides
	url = git@github.com:kissumisha/togglebracketsguides.git
[submodule "extension/updates/jetbrains-mono-fontpack"]
	path = extension/updates/jetbrains-mono-fontpack
	url = git@github.com:NarasimaPandiyan/JetbrainsMono-vscode-extension.git
[submodule "extension/updates/jetbrains-icon-theme"]
	path = extension/updates/jetbrains-icon-theme
	url = git@github.com:cadamsdev/vscode-jetbrains-icon-theme.git
[submodule "extension/updates/pomodoro-clock"]
	path = extension/updates/pomodoro-clock
	url = git@github.com:jackluson/vscode-pomodoro-clock.git
[submodule "extension/updates/theme-switch"]
	path = extension/updates/theme-switch
	url = git@github.com:Fooxly/themeswitch.git
[submodule "extension/updates/todo-highlight"]
	path = extension/updates/todo-highlight
	url = git@github.com:wayou/vscode-todo-highlight.git
[submodule "extension/updates/todo-highlight-fork"]
	path = extension/updates/todo-highlight-fork
	url = git@github.com:jgclark/vscode-todo-highlight.git
[submodule "extension/updates/fluent-icons"]
	path = extension/updates/fluent-icons
	url = git@github.com:miguelsolorio/vscode-fluent-icons.git
[submodule "extension/updates/carbon-icons"]
	path = extension/updates/carbon-icons
	url = git@github.com:Alecton4/vscode-icons-carbon-tweaked.git
[submodule "extension/updates/html-css-support"]
	path = extension/updates/html-css-support
	url = git@github.com:ecmel/vscode-html-css.git
[submodule "extension/updates/jetbrains-idea-product-icontheme"]
	path = extension/updates/jetbrains-idea-product-icontheme
	url = git@github.com:ardonplay/vscode-jetbrains-idea-product-icon-theme.git
[submodule "extension/updates/materialiconic-product-icons"]
	path = extension/updates/materialiconic-product-icons
	url = git@github.com:nyxb/materialiconic-product-icons.git
[submodule "extension/updates/takeabreak"]
	path = extension/updates/takeabreak
	url = https://github.com/theHocineSaad/takeabreak.git
[submodule "extension/updates/vs-icons"]
	path = extension/updates/vs-icons
	url = git@github.com:jtlowe/studio-icons.git
[submodule "extension/updates/vs-icons-v2"]
	path = extension/updates/vs-icons-v2
	url = git@github.com:vigan-abd/studio-icons-v2.git
[submodule "extension/updates/charmed-icons"]
	path = extension/updates/charmed-icons
	url = git@github.com:littensy/charmed-icons.git
[submodule "extension/updates/vsclassic-icons"]
	path = extension/updates/vsclassic-icons
	url = git@gitlab.com:jez9999/vsclassic-icon-theme.git
[submodule "extension/updates/vsc-nomodark-icons"]
	path = extension/updates/vsc-nomodark-icons
	url = git@github.com:Senko-The-Kitsune/Nomo-Dark-Extended.git
[submodule "extension/updates/vsc-nomodark-macos-icons"]
	path = extension/updates/vsc-nomodark-macos-icons
	url = git@github.com:Gaulomatic/Vscode-IconTheme-Nomo-macOS-Dark.git
[submodule "extension/updates/vsc-nomolight-icons"]
	path = extension/updates/vsc-nomolight-icons
	url = git@github.com:microhobby/Nomo-Light-Extended.git
[submodule "extension/updates/vsc-great-icons"]
	path = extension/updates/vsc-great-icons
	url = git@github.com:EmmanuelBeziat/vscode-great-icons.git
[submodule "extension/updates/vsc-icons"]
	path = extension/updates/vsc-icons
	url = git@github.com:vscode-icons/vscode-icons.git
[submodule "extension/updates/vsc-icons-macos"]
	path = extension/updates/vsc-icons-macos
	url = git@github.com:wayou/vscode-icons.git
[submodule "extension/updates/vsc-symbols-icons"]
	path = extension/updates/vsc-symbols-icons
	url = git@github.com:miguelsolorio/vscode-symbols.git
[submodule "extension/updates/vs-2022icons"]
	path = extension/updates/vs-2022icons
	url = git@github.com:RespectMathias/VS2022-Icons.git
