.vscode/**
.vscode-test/**
.git
.gitignore
.gitattributes
# powered by Jetbrains Mono Font Pack Integration
dist/test/**
src/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
essentials/
integration/
code_env_setup.sh
cabecalho-license-v5.svg
