.vscode/**
.vscode-test/**
.git
.gitignore
.gitattributes
# powered by Jetbrains Mono Font Pack Integration
dist/test/**
src/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
essentials/
integration/
updates/
code_env_setup.sh
gulpfile.js
.gitmodules
.github/**
changelog.md
