.vscode/**
.vscode-test/**
.gitignore
storage/**
scripts/**
# powered by Jetbrains Mono Font Pack Integration
out/test/**
src/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
