:root {
	--elementos-de-design-cores-flawuldragon-themes-blueprint-plascon-blueprint-b6-c1-2-lighter: #0018a1;
	--elementos-de-design-cores-flawuldragon-themes-blueprint-plascon-blueprint-b6-c1-2: #001484;
	--elementos-de-design-cores-flawuldragon-themes-blueprint-plascon-blueprint-b6-c1-2-darker: #001171;
	--elementos-de-design-cores-flawuldragon-themes-blueprint-branco: #fff;
	--elementos-de-design-cores-flawuldragon-themes-blueprint-bege: #ffeb7b;
	--elementos-de-design-cores-flawuldragon-themes-blueprint-grayscale: #424242;
	--elementos-de-design-cores-flawuldragon-themes-blueprint-preto: #1f1f1f;
	--elementos-de-design-cores-flawuldragon-themes-blueprint-vermelho: #ff3030;
	--elementos-de-design-cores-flawuldragon-themes-blueprint-verde: #00b84d;
	--elementos-de-design-cores-flawuldragon-themes-blueprint-amarelo: #ffdb4b;
}
